<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
               http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
               http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="defaultDynamicQueryBeans.xml"/>
    <bean id="structureService" class="com.github.vzakharchenko.dynamic.orm.structure.DbStructureServiceImpl">
        <property name="pathToChangeSets" value="classpath:/changeSets/"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>



    <bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:Ehcache.xml"/>
        <property name="shared" value="true"/>
    </bean>
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="ehcache"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <constructor-arg value="jdbc:hsqldb:mem:DATABASE_TEST"/>
        <constructor-arg value="sa"/>
        <constructor-arg value=""/>
        <property name="driverClassName" value="org.hsqldb.jdbc.JDBCDriver"/>
    </bean>

    <bean id="transaction-cache"
          class="com.github.vzakharchenko.dynamic.orm.core.transaction.cache.TransactionCacheManagerImpl">
        <constructor-arg name="targetCacheManager" ref="cacheManager"/>
    </bean>

    <context:component-scan base-package="orm.query.examples.ehcache"/>
</beans>
