<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="defaultDynamicQueryBeans.xml"/>
    <bean id="structureService" class="com.github.vzakharchenko.dynamic.orm.structure.DbStructureServiceImpl">
        <property name="pathToChangeSets" value="classpath:/changeSets/"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>


    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <constructor-arg value="jdbc:hsqldb:mem:DATABASE_TEST"/>
        <constructor-arg value="sa"/>
        <constructor-arg value=""/>
        <property name="driverClassName" value="org.hsqldb.jdbc.JDBCDriver"/>
    </bean>

    <bean id="cacheManager" class="org.springframework.cache.concurrent.ConcurrentMapCacheManager"/>

    <bean id="transaction-cache"
          class="com.github.vzakharchenko.dynamic.orm.core.transaction.cache.TransactionCacheManagerImpl">
        <constructor-arg name="targetCacheManager" ref="cacheManager"/>
    </bean>

    <bean class="orm.query.examples.modify.AuditAccountListener"/>
</beans>
